<?xml version="1.0" encoding="UTF-8"?>
<Server port="-1"><Service name="Catalina"><Connector address="127.0.0.1" port="8081" protocol="HTTP/1.1" connectionTimeout="20000" maxPostSize="1048576"/><Engine name="Catalina" defaultHost="localhost"><Host name="localhost" appBase="webapps" autoDeploy="false" unpackWARs="true"><Valve className="org.apache.catalina.valves.ErrorReportValve" showReport="false" showServerInfo="false"/></Host></Engine></Service></Server>
